body {
    font-family: 'Lato', sans-serif;
    background: #8E0E00;
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
  }