nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style-type: none;
    width: 100%;
}

nav a {
    float: left;;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    border-right: 1px solid white;
}

.active{
  background-color: cadetblue;
}
nav a:hover:not(.active) {
    background-color: black;
}

.float-right{
 float: right;

}

.Wrapper {
    
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
    margin-top: 1%;

}



.input-class {
    box-sizing: border-box;
      width: 30%;
      height: 30px;
      font-size: 1em;
      margin: 10px;
      border-radius: 4px;
      transition: width 0.4s ease-in-out;
  }
  .input-class:focus{
    width: 60%;
  }
  .button-class {
    clear: both;
      width: 10%;
      height: 40px;
      margin-top:20px;
      background-color :#333;
      color:white;
      border-radius:3em;
      
  }
  .button-class:hover {
  
    background-color: cadetblue;
  }
  
  .Person{
      
      text-align: center;
     
  }
  li {
    margin: 30px auto auto auto;
    text-transform: capitalize;
     font-size: 20px;
    padding-top: 1%;
      width: 400px;
      height: 30px;
      list-style-type: none;
      background-color:#333;
      border-radius: 4px;
      cursor: pointer;
      color: aliceblue;

  }
  li:hover{

    background-color:black;
    color:wheat;
    

  }